# Django base settings
BF_DEBUG=False
BF_ALLOWED_HOSTS=*
BF_SECRET_KEY=secret-key

# Database
BF_PSQL_NAME=database_name
BF_PSQL_USER=database_user_name
BF_PSQL_PASSWORD=database_password
BF_PSQL_HOST=database_host
BF_PSQL_PORT=5432

# AWS
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=aws_s3_bucket_name
region=aws_region

# Custom
BF_JWT_AUTH_KEY=jwt_auth_key
