{% load payments_extras extras i18n %}

{% get_product_internal_info product user as product_internal_info %}

<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name }}
      </h5>
      <hr />
      {% if product.description %}
        <div class="mb-2">
          {{ product.description }}
        </div>
      {% endif %}
      <div class="mb-2">
        <ul>
          {% if product.metadata.max_file_size %}
            <li>{% translate "Max upload file size" %}:&nbsp{{ product.metadata.max_file_size | filesizeformat }}</li>
          {% endif %}
          {% if product.metadata.storage_size %}
            <li>{% translate "Storage size" %}:&nbsp{{ product.metadata.storage_size | filesizeformat }}</li>
          {% endif %}
          {% for point in product.item_points.all %}
            <li>{{ point.description }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="card-footer">
      {% if product_internal_info.info %}
        <div class="text-muted mb-2">{{ product_internal_info.info }}</div>
      {% endif %}
      <form id="file-download-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ product.id }}" name="product_id"/>
        {% if price.id %}
          <input type="hidden" value="{{ price.id }}" name="price_id"/>
        {% endif %}
        <button
          id="product-purchase-button"
          class="btn btn-success"
          type="submit"
          {% if not product.is_available %}disabled{% endif %}
        >
          {# TODO: Method to detect recurring payments #}
          {% translate "From" %} {% get_hprice price %} {{ price.currency }}
          {% if price.recurring.interval %} / per {{ price.recurring.interval_count }} {{ price.recurring.interval }}{% endif %}
        </button>
      </form>
    </div>
  </div>
</div>
