{% extends "accounts/base_site.html" %}

{% load extras i18n static %}

{% block extrascript %}
  <script src="{% static 'accounts/js/account.js' %}?v={% get_setting 'project_build_hash' %}"></script>
{% endblock %}

{% block page_title %}
  {% if request.user.is_anonymous %}
    {% translate "Welcome" %} | {% get_setting "project_title" %}
  {% else %}
    {{ request.user }}
  {% endif %}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card overflow-auto">
            <div class="card-body">
              <h5 class="card-title">{% translate "Upload file" %}</h5>
              <hr/>
              <form id="file-upload-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="mb-2">
                    {% translate "Max file size:" %}&nbsp{{ file_upload_form.max_file_size.value | filesizeformat }}
                  </div>
                  {% for field in file_upload_form %}
                    <div
                      class="mb-2{% if field.field.widget.input_type == 'checkbox' %} form-check form-switch{% endif %}"
                    >
                      {% if field.field.widget.input_type != 'file' and not field.is_hidden %}
                        <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                      {% endif %}
                      {{ field }}
                      {% if not field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                      {{ field.errors }}
                    </div>
                  {% endfor %}
                  <button id="file-upload-button" class="btn btn-secondary" type="submit">
                    {% translate "Upload" %}
                  </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  {% translate "My files" %}
                </h5>
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="file-categories-dropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {% translate "Category" %} ({{ current_category.verbose_name }})
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="file-categories-dropdown">
                    {% for category, properties in categories.items %}
                      <li>
                        <a
                          class="dropdown-item{% if current_category.name == category %} active{% endif %}"
                          href="?category={{ category }}"
                        >
                          {{ properties.verbose_name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <hr/>
                {% if messages %}
                  <div class="mb-2">
                    <ul class="list-group">
                      {% for message in messages %}
                        <li
                          class="list-group-item list-group-item-{% if message.tags == 'success' %}{{ message.tags }}{% else %}danger{% endif %}"
                        >
                          {{ message }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% if files %}
                  {% include "accounts/includes/pagination.html" with obj=files %}
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for file in files %}
                      {% include "accounts/includes/file.html" with file=file %}
                    {% endfor %}
                  </div>
                {% else %}
                  <p>{% translate "No files found, try to change category." %}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
