{% extends "accounts/base_site.html" %}

{% load extras i18n static %}

{% block extrascript %}
  <script src="{% static 'accounts/js/account.js' %}?v={% get_setting 'project_build_hash' %}"></script>
{% endblock %}

{% block page_title %}
  {% if request.user.is_anonymous %}
    {% translate "Welcome" %} | {% get_setting "project_title" %}
  {% else %}
    {{ request.user }}
  {% endif %}
{% endblock %}

{% block container %}
  <form id="file-upload-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in file_upload_form %}
      <div class="mb-3 {% if field.field.widget.input_type == 'checkbox' %}form-check form-switch{% endif %}">
        {% if field.field.widget.input_type == 'file' %}
          <h1><label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label></h1>
        {% else %}
          <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
        {% endif %}
        {{ field }}
        {% if field.help_text %}
          <p class="help">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button id="file-upload-button" class="btn btn-secondary" type="submit">{% translate "Upload" %}</button>
  </form>
  {% if files and files.paginator.num_pages > 1 %}
    <nav>
      <ul class="pagination">
        {% if files.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ files.previous_page_number }}" aria-label="{% translate 'Previous' %}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" aria-label="{% translate 'Previous' %}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item disabled"><a class="page-link">{{ files.number }}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ files.paginator.num_pages }}">{{ files.paginator.num_pages }}</a>
        </li>
        {% if files.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ files.next_page_number }}" aria-label="{% translate 'Next' %}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link disabled" aria-label="{% translate 'Next' %}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  {% if files %}
    <ol class="list-group">
      {% for file in files %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <a href="{% url 'accounts:file' url_path=file.url_path %}">{{ file.original_full_name }}</a>
            </div>
            <p class="card-text">{% translate "Mime type:" %} {{ file.content_type }}</p>
            <p class="card-text">{% translate "Uploaded date:" %} {{ file.date_uploaded }}</p>
            <p class="card-text">
              <small class="text-muted">
                {% if file.is_private %}
                  {% translate "File is private" %}
                {% else %}
                  {% translate "File is public" %}
                {% endif %}
              </small>
            </p>
          </div>
          <span class="badge bg-primary rounded-pill">{{ file.size | filesizeformat }}</span>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock %}
