{% extends "accounts/base_site.html" %}

{% load extras i18n static %}

{% block page_title %}
  {% translate "Products" %}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {% translate "Products" %}
              </h5>
              <hr/>
              {% if products %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for product in products %}
                    {% include "payments/includes/product.html" with product=product %}
                  {% endfor %}
                </div>
              {% else %}
                <p>{% translate "No products found." %}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
