{% extends 'accounts/base_site.html' %}

{% load extras i18n %}

{% block page_title %}
  {% translate "See you soon" %} | {% get_setting "project_title" %}
{% endblock %}

{% block sign_up %}{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card overflow-auto">
            <div class="card-body">
              <h5 class="card-title">{% translate "See you!" %}</h5>
              <hr/>
              <p>{% translate "Thanks for spending some quality time with us." %}</p>
              <p><a href="{% url 'accounts:signin' %}">{% translate 'Sign in again' %}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
