{% extends 'accounts/base_site.html' %}

{% load extras i18n %}

{% block extrastyle %}
  <link
    href="{% static 'accounts/css/auth.css' %}?v={% get_setting 'project_build_hash' %}"
    rel="stylesheet"
    type="text/css"
  />
{% endblock %}

{% block page_title %}
  {% translate "See you soon" %} | {% get_setting "project_title" %}
{% endblock %}

{% block sign_up %}{% endblock %}

{% block container %}
  <h1>{% translate "See you!" %}</h1>
  <p class="d-flex align-items-center">
    {% translate "Thanks for spending some quality time with us." %}
    &nbsp<a href="{% url 'accounts:signin' %}">{% translate 'Sign in again' %}</a>
  </p>
{% endblock %}
