{% extends "accounts/base_site.html" %}

{% load extras i18n static %}

{% block extrascript %}
  <script src="{% static 'accounts/js/account.js' %}?v={% get_setting 'project_build_hash' %}"></script>
{% endblock %}

{% block extrastyle %}
  <link
    href="{% static 'accounts/css/auth.css' %}?v={% get_setting 'project_build_hash' %}"
    rel="stylesheet"
    type="text/css"
  />
{% endblock %}

{% block page_title %}
  {% translate "Sign in" %} | {% get_setting "project_title" %}
{% endblock %}

{% block container %}
  <form id="signup-form" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card px-5 py-5" id="form1">
          <div class="form-data">
            <div class="forms-inputs mb-4"> <span>Email or username</span> <input autocomplete="off" type="text" name="username">
            </div>
            <div class="forms-inputs mb-4"><span>Password</span><input autocomplete="off" type="password" name="password">
            </div>
            <div class="mb-3"><button type="submit" class="btn btn-dark w-100">{% translate "Sign In" %}</button></div>
          </div>
        </div>
          {% if messages %}
            <ul class="list-group">
              {% for message in messages %}
                <li
                  class="list-group-item list-group-item-{% if message.tags == 'success' %}{{ message.tags }}{% else %}danger{% endif %}">
                    {{ message }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
