html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
}

#main.container {
  padding: 60px 50px 0;
}
