{% load accounts_extras extras i18n %}

<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">
        {{ product.title }}
      </h5>
      <hr />
      <div class="mb-2">
        {{ product.description }}
      </div>
      <div class="mb-2">
        <ul>
          <li>{% translate "Max upload file size" %}:&nbsp{{ product.max_file_size | filesizeformat }}</li>
          <li>{% translate "Storage size" %}:&nbsp{{ product.storage_size | filesizeformat }}</li>
          {% for point in product.item_points.all %}
            <li>{{ point.description }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="card-footer">
      {% get_product_internal_info product user as product_internal_info %}
      <div class="text-muted mb-2">{{ product_internal_info.message }}</div>
      <form id="file-download-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ product.id }}" name="product_id"/>
        <button
          id="file-download-button"
          class="btn btn-success"
          type="submit"
          {% if not product_internal_info.is_available %}disabled{% endif %}
        >
          {% translate "Buy for" %}&nbsp{% get_price_for_product product %}&nbsp/&nbsp{% translate "month" %}
        </button>
      </form>
    </div>
  </div>
</div>
