{% load i18n static %}
{% load extras %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
  <head>
    {% include "base/includes/meta.html" %}
    <title>
      {% block page_title %}
        {% if page_title %}{{ page_title }}{% else %}{% get_setting "project_title" %}{% endif %}
      {% endblock %}
    </title>
    {% include "base/includes/scripts.html" %}
    {% include "base/includes/styles.html" %}
    {% block extrascript %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-md">
            <a class="navbar-brand" href="{% url 'index' %}">
              {% get_setting 'project_title' %}
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar-collapse"
              aria-controls="navbar-collapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbar-collapse">
              <ul class="navbar-nav ms-auto flex-nowrap">
                {% block extra_navbar_nav %}{% endblock %}
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
    </header>
    <main role="main" id="main" class="container">
      {% block container %}
      {% endblock %}
    </main>
    <footer class="footer">
      {% block footer %}
        <div class="container text-center">
          <span class="text-muted">
            &copy; {% get_setting "project_title" %}
          </span>
        </div>
      {% endblock %}
    </footer>
  </body>
</html>
