{% load i18n static %}
{% load extras %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
  <head>
    {% include "base/includes/meta.html" %}
    <title>
      {% block page_title %}
        {% if page_title %}{{ page_title }}{% else %}{% get_setting "project_title" %}{% endif %}
      {% endblock %}
    </title>
    {% block styles %}
      {% include "base/includes/styles.html" %}
    {% endblock %}
    {% block extrascript %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'index' %}"
           class="logo d-flex align-items-center"
        >
          <span class="d-none d-lg-block">
            {% get_setting "project_title" %}
          </span>
        </a>
        <i class="fa-solid fa-sliders toggle-sidebar-btn"></i>
      </div>
      {% if user.is_authenticated %}
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input
              type="text"
              name="query"
              placeholder="{% translate 'Search' %}"
              title="{% translate 'Enter search keyword' %}"
            >
            <button type="submit" title="{% translate 'Search' %}"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-3">
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <span class="dropdown-toggle ps-2">{% translate "Settings" %}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li>
                  {{ user.username }}
                </li>
                <li class="devider"></li>
                <li>
                  <a href="{% url 'accounts:logout' %}">
                    <div class="dropdown-item d-flex align-items-center" id="logout-form" role="button">
                      <span data-method="post" data-action="{% url 'accounts:logout' %}">
                        {% translate 'Log out' %}
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      {% else %}
        <nav class="nav header-nav ms-auto">
          <ul class="d-flex align-items-center">
            <li class="nav-item pe-3">
              <a href="{% url 'accounts:signin' %}">{% translate "Sign In" %}</a>
            </li>
            <li class="nav-item pe-3">
              <a href="{% url 'accounts:signup' %}">{% translate "Sign Up" %}</a>
            </li>
          </ul>
        </nav>
      {% endif %}
    </header>
    <aside id="sidebar" class="sidebar">
      {% block aside %}
      {% endblock %}
    </aside>
    <main id="main-content" class="main">
      <section class="section">
        {% block container %}
        {% endblock %}
      </section>
    </main>
    <footer class="footer">
      {% block footer %}
        <div class="container text-center">
          <span class="text-muted">
            &copy; {% get_setting "project_title" %}
          </span>
        </div>
      {% endblock %}
    </footer>
    {% block scripts %}
      {% include "base/includes/scripts.html" %}
    {% endblock %}
  </body>
</html>
