{% extends "base/base.html" %}

{% load i18n %}

{% block aside %}
  {% with request.resolver_match.url_name as url_name %}
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link{% if url_name == 'index' %} collapsed{% endif %}" href="{% url 'index' %}">
          <i class="fa-solid fa-house"></i>
          <span>{% translate "Home" %}</span>
        </a>
      </li>
      {% block extraaside %}
      {% endblock %}
      {% if not user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link{% if url_name == 'terms_of_service' %} collapsed{% endif %}"
            href="{% url 'docs:terms_of_service' %}"
          >
            <i class="fa-solid fa-file"></i>
            <span>{% translate "Terms of service" %}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  {% endwith %}
{% endblock %}
