{% extends "base/base_site.html" %}

{% load i18n %}

{% block page_title %}
  {% translate "Forbidden" %}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card overflow-auto">
            <div class="card-body">
              <h5 class="card-title">{% translate "Page not found or access denied" %}</h5>
              <hr/>
              <p>
                {% translate "Back to" %}
                <a href="{% url 'index' %}">
                  {% translate "known paths" %}.
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
